body {
    font-family: sans-serif;
    background: #f5f5f5;
    padding: 20px;
}

.demo {
    display: flex;
    background: white;
    border: 1px dashed #ccc;
    padding: 10px;
    margin-bottom: 30px;
    width: 400px;
}

.box {
    background: #007acc;
    color: white;
    font-size: 1rem;
    text-align: center;
    border-radius: 4px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 200px;
    flex-shrink: 1;
}

.no-shrink .box {
    flex-shrink: 0;
}

.shrink-demo .a {
    flex-shrink: 1;
}
.shrink-demo .b {
    flex-shrink: 2;
}
.shrink-demo .c {
    flex-shrink: 3;
}
