body {
    font-family: sans-serif;
    background: #f5f5f5;
    padding: 10px;
}

.container {
    background: white;
    border: 1px dashed #ccc;
    display: flex;
}

.container div {
    width: 100px;
    height: 100px;
    margin: 20px;
    background: teal;
    color: white;
    border-radius: 5px;
}
