.parent {
    position: relative;
    height: 200px;
    top: 30px;
    border: 2px dashed #999;
}

.child {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 150px;
    background: salmon;
    padding: 10px;
}
